<!DOCTYPE html>
<html>
<head>
    <title>Contenido de las tablas</title>
</head>
<body>
    <h1>Usuarios</h1>
    <ul>
        {% for usuario in usuarios %}
            <li>ID: {{ usuario.id }}, Email: {{ usuario.email }}</li>
        {% endfor %}
    </ul>

    <h1>Chats</h1>
    <ul>
        {% for chat in chats %}
            <li>ID: {{ chat.id }}, Timestamp: {{ chat.timestamp }}, User ID: {{ chat.user_id }}, User Message: {{ chat.user_message }}, Bot Response: {{ chat.bot_response }}</li>
        {% endfor %}
    </ul>
</body>
</html>
