@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css");

body {
  background-image: url("../image/mosaicoBackground2.jpg");
  background-repeat: repeat;
  transition: background 0.5s ease-in-out; /* Agrega una transición suave */
}

#carouselH {
  display: initial;
}

#carouselV {
  display: none;
}

#navPaginaActiva {
  color: #ed494f;
  font-weight: bold;
}

#navbar-texto {
  color: #1688f2;
  font-weight: bold;
}

#navbar-texto:hover {
  color: #6eb7fa;
  font-weight: bold;
}

#textoTitulo,
#titulo-testimonios {
  color: #1688f2;
  font-weight: bold;
  font-style: normal;
  font-family: Georgia;
  margin-bottom: 20px;
}

blockquote {
  font-style: italic;
  font-family: Georgia;
  color: #999;
  margin: 30px 0 30px;
}

.info_destacada {
  background-color: #4eaaff;
}
.single_service2 {
  background-color: #1688f2;
}
.icon {
  font-size: xx-large;
  font-weight: bold;
}

.single_service2,
.single_service1 {
  font-size: 12pt;
  padding: 10 px;
  padding-inline: 30px;
  padding-inline-end: 20px;
  font-weight: bold;
  color: aliceblue;
}

#globitos {
  margin-bottom: 20px;
  font-size: 14pt;
}

#imagenInfoImportante {
  height: 10vh;
}

.list-group {
  background-color: #1688f2;
}

.list-group-item {
  background-color: #1688f2;
}

#card-mapa {
  padding-left: 40px;
  padding-right: 40px;
}

#card-texto {
  padding-top: 20px;
  font-size: 12pt;
  font-weight: bold;
}

#map {
  height: 50vh;
  top: 0;
  z-index: 9999; /* Asegura que la lista aparezca encima de otros elementos */
}

h1.hidden {
  display: none;
}

/* Estilo para la imagen de fondo */
#cardDocencia {
  background-image: linear-gradient(#ed494f80, #1688f280),
    url("../image/docencia/portada.jpg");

  background-size: cover;
  background-position: center;
  color: #fff; /* Color del texto */
  background-color: rgb(0, 0, 0); /* Color de fondo negro con 40% de opacidad */
}

/*CardSlide*/
#cardSlide {
  background: linear-gradient(hwb(358 29% 7% / 0.502), #1688f280);
}

/* Estilo para el texto grande */
#tituloDocencia {
  font-family: "Helvetica Now", sans-serif;
  font-size: 4rem;
  text-align: center;
  padding-top: 5%;
  text-transform: uppercase; /* Cambia el texto a mayúsculas */
  letter-spacing: 5px; /* Espaciado entre letras */
  color: #fff; /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para destacarlo */
}

/* Estilo para el párrafo */
#docenciaTexto {
  font-family: "Helvetica Now", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  width: 70%; /* Ancho del párrafo */
  margin: 0 auto; /* Centrar horizontalmente */
  padding-top: 20px;
  font-style: italic; /* Cambia el estilo del texto a cursiva */
  color: #fff; /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para destacarlo */
  border-left: 3px solid #fff; /* Agrega una línea vertical a la izquierda del párrafo */
  padding-left: 15px; /* Espacio a la izquierda de la línea vertical */
}

#tituloActividades {
  font-size: 2rem;
  text-align: center;
  padding-top: 5%;
  text-transform: uppercase; /* Cambia el texto a mayúsculas */
  letter-spacing: 5px; /* Espaciado entre letras */
  color: #fff; /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para destacarlo */
}

#cardPrograma {
  background: linear-gradient(rgba(237, 73, 79, 0.5), rgba(22, 136, 242, 0.5));
}

#tituloPrograma {
  font-family: "Helvetica Now", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding-top: 5%;
  text-transform: uppercase; /* Cambia el texto a mayúsculas */
  letter-spacing: 5px; /* Espaciado entre letras */
  color: #fff; /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para destacarlo */
}

#programaTexto {
  color: #fff; /* Color del texto */
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra de texto para destacarlo */
}

#residenciaTitulo {
  color: #fff; /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra de texto para destacarlo */
}

.accordion-button:active {
  background-color: #ff060f;
  color: #ffffff;
  border-color: #007bff;
}

.accordion-button {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

#ofrecimientos:focus,
#ofrecimientos:active {
  background-color: #6d090c;
  color: #ffffff;
  border-color: #007bff;
}

#ofrecimientos {
  color: #ffffff;
  font-weight: bold;
  border-color: #007bff;
  background-color: #4eaaff;
}

/*Formato texto de docencia*/
.list-group-item,
.accordion-body,
.accordion-button,
.nav-link,
#tituloActividades,
#cardIntroActividades,
.nav-item,
#tituloPrograma,
#ofrecimientos,
#residenciaTitulo {
  font-family: "Helvetica Now", sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 769px) {
  /* Estilo para el texto grande */
  #tituloDocencia {
    font-family: "Helvetica Now", sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-top: 5%;
    text-transform: uppercase; /* Cambia el texto a mayúsculas */
    letter-spacing: 5px; /* Espaciado entre letras */
    color: #fff; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para destacarlo */
  }

  /* Estilo para el párrafo */
  #docenciaTexto {
    font-family: "Helvetica Now", sans-serif;
    font-size: 1.5rem;
    width: 70%; /* Ancho del párrafo */
    margin: 0 auto; /* Centrar horizontalmente */
    padding-top: 20px;
    font-style: italic; /* Cambia el estilo del texto a cursiva */
    color: #fff; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para destacarlo */
    border-left: 3px solid #fff; /* Agrega una línea vertical a la izquierda del párrafo */
    padding-left: 15px; /* Espacio a la izquierda de la línea vertical */
  }
}

@media only screen and (max-width: 667px) {
  /* Estilo para la imagen de fondo */
  #cardDocencia {
    background-image: linear-gradient(
        rgba(237, 73, 79, 0.5),
        rgba(22, 136, 242, 0.5)
      ),
      url("../image/docencia/portada.jpg");

    background-size: cover;
    background-position: center;
    color: #fff; /* Color del texto */
    background-color: rgb(
      0,
      0,
      0
    ); /* Color de fondo negro con 40% de opacidad */
  }
  /* Estilo para el texto grande */
  #tituloDocencia {
    font-family: "Helvetica Now", sans-serif;
    font-size: 3rem;
    text-align: center;
    padding-top: 5%;
    text-transform: uppercase; /* Cambia el texto a mayúsculas */
    letter-spacing: 5px; /* Espaciado entre letras */
    color: #fff; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para destacarlo */
  }

  /* Estilo para el párrafo */
  #docenciaTexto {
    font-family: "Helvetica Now", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    width: 70%; /* Ancho del párrafo */
    margin: 0 auto; /* Centrar horizontalmente */
    padding-top: 20px;
    font-style: italic; /* Cambia el estilo del texto a cursiva */
    color: #fff; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para destacarlo */
    border-left: 3px solid #fff; /* Agrega una línea vertical a la izquierda del párrafo */
    padding-left: 15px; /* Espacio a la izquierda de la línea vertical */
  }
  #programaTexto {
    color: #fff; /* Color del texto */
    font-size: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra de texto para destacarlo */
  }

  #tituloActividades,
  #tituloPrograma {
    font-size: 1,3rem;
    font-weight: normal;
  }
}

@media only screen and (max-width: 530px) {
  #carouselH {
    display: none;
  }

  #carouselV {
    display: initial;
  }

  body {
    background-image: url("../image/mosaicoBackground2.jpg");
    background-repeat: repeat;
  }

  /* Estilo para la imagen de fondo */
  #cardDocencia {
    background-image: linear-gradient(
        rgba(237, 73, 79, 0.5),
        rgba(22, 136, 242, 0.5)
      ),
      url("../image/docencia/portada.jpg");

    background-size: cover;
    background-position: center;
    color: #fff; /* Color del texto */
    background-color: rgb(
      0,
      0,
      0
    ); /* Color de fondo negro con 40% de opacidad */
  }

  /* Estilo para el texto grande */
  #tituloDocencia {
    font-family: "Helvetica Now", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 5%;
    text-transform: uppercase; /* Cambia el texto a mayúsculas */
    letter-spacing: 5px; /* Espaciado entre letras */
    color: #fff; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para destacarlo */
  }

  /* Estilo para el párrafo */
  #docenciaTexto {
    font-family: "Helvetica Now", sans-serif;
    font-size: 1rem;
    text-align: center;
    width: 70%; /* Ancho del párrafo */
    margin: 0 auto; /* Centrar horizontalmente */
    padding-top: 20px;
    font-style: italic; /* Cambia el estilo del texto a cursiva */
    color: #fff; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para destacarlo */
    border-left: 3px solid #fff; /* Agrega una línea vertical a la izquierda del párrafo */
    padding-left: 15px; /* Espacio a la izquierda de la línea vertical */
  }
  #programaTexto {
    color: #fff; /* Color del texto */
    font-size: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra de texto para destacarlo */
  }

  #tituloActividades,
  #tituloPrograma {
    font-size: 1,3rem;
    font-weight: normal;
  }
}

@media only screen and (max-width: 380px) {
  /* Estilo para el texto grande */
  #tituloDocencia {
    font-family: "Helvetica Now", sans-serif;
    font-size: 2rem;
    text-align: center;
    padding-top: 5%;
    text-transform: uppercase; /* Cambia el texto a mayúsculas */
    letter-spacing: 5px; /* Espaciado entre letras */
    color: #fff; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para destacarlo */
  }

  /* Estilo para el párrafo */
  #docenciaTexto {
    font-family: "Helvetica Now", sans-serif;
    font-size: 1rem;
    text-align: center;
    width: 70%; /* Ancho del párrafo */
    margin: 0 auto; /* Centrar horizontalmente */
    padding-top: 20px;
    font-style: italic; /* Cambia el estilo del texto a cursiva */
    color: #fff; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para destacarlo */
    border-left: 3px solid #fff; /* Agrega una línea vertical a la izquierda del párrafo */
    padding-left: 15px; /* Espacio a la izquierda de la línea vertical */
  }

  #programaTexto {
    color: #fff; /* Color del texto */
    font-size: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra de texto para destacarlo */
  }

  #tituloActividades,
  #tituloPrograma {
    font-size: 1,3rem;
    font-weight: normal;
  }
}

#textoFooter {
  font-size: 0.8rem;
  font-weight: bold;
}
