@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.floating-button {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 800;
  margin-bottom: 3rem;
  margin-right: 3rem;
}

#btn_chatbot {
  font-size: 14pt;
  font-weight: bold;
  color: #ff0008;
  background-color: rgb(0, 0, 0);
  background-image: url("../image/mosaicoBackground2-3r2.jpg");
  background-repeat: repeat;
  -webkit-animation: heartBeat 1s ease infinite 0s;
  -moz-animation: heartBeat 1s ease infinite 0s;
  -o-animation: heartBeat 1s ease infinite 0s;
  -ms-animation: heartBeat 1s ease infinite 0s;
  animation: heartBeat 1s ease infinite 0s;
}

btn_chatbot:hover {
  -webkit-animation: heartBeat 0.5s ease infinite 0s;
  -moz-animation: heartBeat 0.5s ease infinite 0s;
  -o-animation: heartBeat 0.5s ease infinite 0s;
  -ms-animation: heartBeat 0.5s ease infinite 0s;
  animation: heartBeat 0.5s ease infinite 0s;
}

/*
  css keyframes based off:
  https://tympanus.net/codrops/2012/01/02/fullscreen-background-image-slideshow-with-css3/
  */
/*tested on chrome 24*/
@-webkit-keyframes heartBeat {
  0% {
    zoom: 100%;
  }
  15% {
    zoom: 120%;
  }
  25% {
    zoom: 110%;
  }
  35% {
    zoom: 120%;
  }
  100% {
    zoom: 100%;
  }
}
/*tested on opera 12*/
@-o-keyframes heartBeat {
  0% {
    zoom: 100%;
  }
  15% {
    zoom: 120%;
  }
  25% {
    zoom: 110%;
  }
  35% {
    zoom: 120%;
  }
  100% {
    zoom: 100%;
  }
}
/*
  tested on IE9, should work but doesn't :(
  https://developer.mozilla.org/en-US/docs/CSS/transform
  */
@-ms-keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.2);
  }
  25% {
    transform: scale(1.1);
  }
  35% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/*tested on FF 18*/
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.2);
  }
  25% {
    transform: scale(1.1);
  }
  35% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.offcanvas {
  z-index: 900;
}

.offcanvas-header {
  background-color: #1688f2;
}

@keyframes animar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  5%,
  95% {
    opacity: 0.8;
  }
  10%,
  90% {
    opacity: 0.6;
  }
  15%,
  85% {
    opacity: 0.4;
  }
  20%,
  80% {
    opacity: 0.2;
  }
  25%,
  75% {
    opacity: 0.1;
  }
  30%,
  70% {
    opacity: 0;
  }
  35%,
  65% {
    opacity: 0.1;
  }
  40%,
  60% {
    opacity: 0.2;
  }
  45%,
  55% {
    opacity: 0.4;
  }
  50%,
  50% {
    opacity: 0.6;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.neon {
  font-family: "Arial", sans-serif;
  font-size: 3em;
  color: rgb(255, 0, 0); /* Verde neón */
  text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(255, 0, 0),
    0 0 20px rgb(255, 0, 0), 0 0 40px rgb(255, 0, 0), 0 0 80px rgb(255, 0, 0),
    0 0 90px rgb(255, 0, 0), 0 0 100px rgb(255, 0, 0), 0 0 150px rgb(255, 0, 0);
  animation: neon-animation 1.5s infinite alternate-reverse,
    flicker 1s infinite alternate;
}

@keyframes neon-animation {
  0% {
    text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(255, 0, 0),
      0 0 20px rgb(255, 0, 0), 0 0 40px rgb(255, 0, 0), 0 0 80px rgb(255, 0, 0),
      0 0 90px rgb(255, 0, 0), 0 0 100px rgb(255, 0, 0),
      0 0 150px rgb(255, 0, 0);
  }
  100% {
    text-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0),
      0 0 30px rgb(255, 0, 0), 0 0 40px rgb(255, 0, 0), 0 0 50px rgb(255, 0, 0),
      0 0 60px rgb(255, 0, 0), 0 0 70px rgb(255, 0, 0), 0 0 80px rgb(255, 0, 0);
  }
}

.cuerpoofcanvachat {
  width: 70%;
  background-color: rgb(157, 157, 157);
  overflow-y: scroll;
  padding-top: 0.4rem;
  background-image: url("../image/mosaicoBackground1.jpg");
  background-repeat: repeat;
}

#chatbody {
  background-color: rgb(129, 129, 129);
  background-image: url("../image/mosaicoBackground2-3.jpg");
  background-repeat: repeat;
}

.offcanvas-header {
  background-color: rgb(255, 255, 255);
  /* overflow-y: scroll; */
  background-image: url("../image/mosaicoBackground2-3.jpg");
  background-repeat: repeat;
}

#contenedor_chat {
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.257);
  overflow-y: scroll;
  padding-top: 0.4rem;
  background-image: url("../image/mosaicoBackground2.jpg");
  background-repeat: repeat;
}

#chat-messages {
  line-height: 1.5;
  font-size: 0.8rem;
  font-weight: bold;
}

#mensajes-sistema {
  height: 3vh;
  line-height: 1.5;
  font-size: 0.8rem;
  font-weight: bold;
}

.alert.alert-warning {
  background-color: #aaffa2;
  display: flex;
  justify-content: flex-end;
  color: black;
  min-height: auto;
  word-wrap: break-word;
}

.alert.alert-primary {
  min-height: auto;
  word-wrap: break-word;
}

@media screen and (max-width: 420px) {
  
  .cuerpoofcanvachat {
    height: 95vh;
    width: 90%;
    background-color: rgb(157, 157, 157);
    overflow-y: scroll;
    padding-top: 0.4rem;
    background-image: url("../image/mosaicoBackground1.jpg");
    background-repeat: repeat;
  }

  .cuerpoofcanvachat {
    height: 80vh;
  }

  #contenedor_chat {
    height: 35vh;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    padding-top: 0.4rem;
    background-image: url("../image/mosaicoBackground2.jpg");
    background-repeat: repeat;
  }
}

@media screen and (max-height: 420px) and (orientation: landscape) {
  
  .cuerpoofcanvachat {
    width: 80%;
    background-color: rgb(157, 157, 157);
    overflow-y: scroll;
    padding-top: 0.4rem;
    background-image: url("../image/mosaicoBackground1.jpg");
    background-repeat: repeat;
  }

  .offcanvas-header {
    display: none;
  }

  #contenedor_chat {
    height: 50vh;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    padding-top: 0.4rem;
    background-image: url("../image/mosaicoBackground2.jpg");
    background-repeat: repeat;
  }

}

