.logueoregistrofront {
  .cb-container {
    background-color: #1567ff;
    color: #000000;
    border-color: #ffffff;
  }

  .cb-header,
  .cb-subheader,
  .cb-body {
    font-family: var(--font-eloquent);
    color: #ffffff;
  }

  .cb-link-primary {
    color: #ffffff;
  }

  .cb-link-secondary {
    color: #074197;
  }
}

#login-logout-button{
    height: 5vh;
}

.cuerpoofcanvaidentificacion {
  height: 85vh; 
  display: flex;
  background-color: rgb(157, 157, 157);
  /* overflow-y: scroll; */
  padding-top: 0.4rem;
  background-image: url("../image/mosaicoBackground2-3.jpg");
  background-repeat: repeat;
}

#registrobody {
  /* background-color: rgb(5, 60, 123); */
  /* background-image: url("../image/mosaicoBackground2-3.jpg"); */
  background-repeat: repeat;
}

.ofcanvaheadid {
  background-color: rgb(255, 255, 255);
  /* overflow-y: scroll; */
  background-image: url("../image/mosaicoBackground.jpg");
  background-repeat: repeat;
}

#textoformulario {
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
}