body {
  background-image: url("../image/mosaicoBackground2.jpg");
  background-repeat: repeat;
}

#navPaginaActiva {
  color: #ed494f;
  font-weight: bold;
}

#navbar-texto {
  color: #1688f2;
  font-weight: bold;
}

#navbar-texto:hover {
  color: #6eb7fa;
  font-weight: bold;
}

.info_destacada {
  background-color: #4eaaff;
}
.single_service2 {
  background-color: #1688f2;
}
.icon {
  font-size: xx-large;
  font-weight: bold;
}

.single_service2,
.single_service1 {
  font-size: 12pt;
  padding: 10 px;
  padding-inline: 30px;
  padding-inline-end: 20px;
  font-weight: bold;
  color: aliceblue;
}

#globitos {
  margin-bottom: 20px;
  font-size: 14pt;
}

#ofrecimientos {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

#ofrecimientos:focus,
#ofrecimientos:active {
  background-color: #ed494f;
  color: #ffffff;
  border-color: #007bff;
}

blockquote {
  font-style: italic;
  font-family: Georgia;
  color: #999;
  margin: 30px 0 30px;
}

#testimonios {
  margin-top: 20px;
  padding-inline: 30px;
}

#titulo-testimonios {
  margin-bottom: 20px;
  color: #1688f2;
  font-style: normal;
  font-family: Georgia;
  font-weight: bold;
}

#card-texto {
  padding-top: 20px;
  font-size: 12pt;
  font-weight: bold;
}

#map {
  height: 50vh;
  top: 0;
  z-index: 500; /* Asegura que la lista aparezca encima de otros elementos */
}

#textoTitulo {
  color: #1688f2;
  font-weight: bold;
  font-style: normal;
  font-family: Georgia;
  margin-bottom: 20px;
}
