body {
  background-image: url("../image/mosaicoBackground2.jpg");
  background-repeat: repeat;
}

#navPaginaActiva {
  color: #ed494f;
  font-weight: bold;
}

#navbar-texto {
  color: #1688f2;
  font-weight: bold;
}

#navbar-texto:hover {
  color: #6eb7fa;
  font-weight: bold;
}

blockquote {
  font-style: italic;
  font-family: Georgia;
  color: #4b4a4a;
  margin: 30px 0 30px;
}

#introRegistro,
#formularioRegistro {
  margin-top: 20px;
  margin-bottom: 20px;
}

#textoTitulo {
  color: #1688f2;
  font-weight: bold;
}
