@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css");
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');

body{
  background-image: url("../image/mosaicoBackground2.jpg");
  background-repeat: repeat;
}

#navPaginaActiva {
  color: #ed494f;
  font-weight: bold;
}

#navbar-texto {
  color: #eaeaea;
  font-weight: bold;
}

#navbar-texto:hover {
  color: #7ebaf3;
  font-weight: bold;
}

blockquote {
  font-style: italic;
  font-family: Georgia;
  color: #4b4a4a;
  margin: 30px 0 30px;
}

#imagenPerfil {
  border-radius: 50%;
  height: 10vh;
  cursor: pointer;
}

#offcanvasScrolling {
  background-color: #1688f2;
  color: azure;
  font-weight: bold;
}

.list-group-item {
  cursor: pointer;
  margin-bottom: 3vh;
  color:#1688f2;
  font-weight: bold;
}

.card-header {
  font-weight: bold;
}
