body{
  background-image: url("../image/mosaicoBackground2.jpg");
  background-repeat: repeat;
}

#navPaginaActiva{
  color:#ed494f;
  font-weight: bold;
}

#navbar-texto {
    color:#1688f2;
    font-weight: bold;
}

#navbar-texto:hover {
  color:#6eb7fa;
  font-weight: bold;
}

blockquote {
  font-style: italic;
  font-family: Georgia;
  color: #4b4a4a;
  margin: 30px 0 30px;
}

#introRegistro, #formularioRegistro{
  margin-top: 20px;
  margin-bottom: 20px;
}

#textoTitulo{
  color:#1688f2;
  font-weight: bold;
}

.dropdown-list {
  color:#1688f2;
  font-weight: bold;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
  z-index: 9999; /* Asegura que la lista aparezca encima de otros elementos */
}

.input-group-text i {
  width: 1em;
  height: 1em;
  color: rgb(105, 105, 105);
}

.input-group-text {
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 2.25rem;
  margin-left: 5px;
}

#direccionSocalo {
  width: 100%;
}

#mensajeAviso .alert {
  margin-top: 15px;
  margin-bottom: 15px;
}

#cuerpoMensajeDeAlerta{
  color:#1688f2;
  font-weight: bold;
}

#botonMensajeDeAlerta{
  color:#ffffff;
  font-weight: bold;
}